@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    scroll-behavior: smooth;
}

body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #000000;
    min-height: 100vh;
    overflow-x: hidden;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, red, transparent);
    z-index: 100;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    pointer-events: none;
    
}

section img#moon
{
    width: 300px;
    height: 300px;
    left: 40%;
    margin-top: 3%;
    z-index: 9;
    mix-blend-mode: screen;
}

section img#planet
{
    width: 200px;
    height: 200px;
    left: 20%;
    mix-blend-mode: screen;
    margin-top: 1%;
}
section img#mountains_front
{
    z-index: 10;
}

section img#stars
{
    mix-blend-mode: luminosity;
}

section img#mountains_behind
{
    z-index: 9;
}
section img#starDestroyer
{
    left: -450px;
    top: 10%;
    z-index: 9;
    width: 450px;
    height: 200px;
    transform: scaleX(-1);
}
#btn
{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    display: inline-block;
    z-index: 9;
    transform: translateY(100px);
}

.sec
{
    position: relative;
    padding: 100px;
}

.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p
{
    font-size: 1.2em;
    color: #fff;
}